<h1>CRUD History</h1>
<div>
    <table class = "table">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">UserID</th>
              <th scope="col">CRUD Action</th>
              <th scope="col"> On? </th>
              <th scope="col"> Date </th>
              <th scope="col"> Time </th>
              <th scope="col"> Detail </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope = "row">1</th>
                <td> Ben </td>
                <td> O'Boyle </td>
                <td> 019283 </td>
                <td> POST </td>
                <td> User </td>
                <td> 30.09.2024 </td>
                <td> 13:32:53 </td>
            </tr>
            <tr>
                <th scope = "row">2</th>
                <td> John </td>
                <td> Smith </td>
                <td> 839283 </td>
                <td> POST </td>
                <td> User </td>
            </tr>
            <tr>
                <th scope = "row">3</th>
                <td> James </td>
                <td> Dyson </td>
                <td> 999999 </td>
                <td> POST </td>
                <td> User </td>
            </tr>
        </tbody>
    </table>
</div>
