<div class="container px-4 py-5" id="icon-grid">
  <h2 class="pb-2 border-bottom">Plan your day with our app</h2>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
        <use xlink:href="#bootstrap" />
      </svg>
      <div>
        <h4 class="fw-bold mb-0">Featured title</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae officia quisquam itaque totam rem, placeat maiores aliquam sunt.</p>
        
        <!-- Sign In and Register buttons -->
        <div class="mt-3">
          <!-- Use (click) to trigger the navigateToSignIn method -->
          <button type="button" class="btn btn-outline-primary-signin" (click)="navigateToSignIn()">Sign In</button>
        </div>
      </div>
    </div>
  </div>
</div>
